# === MAINNET CONFIGURATION ===
SHERPA_API_BASE=
NEXT_PUBLIC_WC_PROJECT_ID=
NEXT_PUBLIC_CDP_PROJECT_ID=
NEXT_PUBLIC_SENTRY_DSN=
SENTRY_DSN=
SENTRY_ORG=
SENTRY_PROJECT=
NEXT_PUBLIC_SHERPA_ROUTER_BASE_MAINNET=0x00bfef87DD352D48F8572BcfA52E57870B35DE8b
NEXT_PUBLIC_SHERPA_TREASURY_BASE_MAINNET=0xF4e72beAA559E1815f4671e39EDb1295aD975918
